html {
  font-size: 15px; }

body {
  margin: 0;
  font-size: 1rem;
  color: #212121;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.section {
  padding: 6.666rem; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  margin: 0 0 4px; }

.btn-services {
  display: inline-block;
  vertical-align: top;
  font-size: 1.333rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  transition: color .2s linear;
  padding: 18px 30px;
  border: 2px solid #fff;
  background: transparent; }
  .btn-services:hover {
    color: #00897b; }

.btn-hire {
  display: inline-block;
  vertical-align: top;
  font-size: 1.333rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  transition: color .2s linear;
  padding: 20px 45px;
  border: 2px solid #fff;
  background: #00897b;
  border: none; }

.btn-about {
  display: inline-block;
  vertical-align: top;
  font-size: 1.333rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  transition: color .2s linear;
  border: 2px solid #000;
  padding: 10px 12px;
  color: #000;
  font-weight: 600;
  transition: all 1s linear; }

.btn-works {
  display: inline-block;
  vertical-align: top;
  font-size: 1.333rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  transition: color .2s linear;
  background: #00897b;
  padding: 15px 45px; }

.btn-price {
  display: inline-block;
  vertical-align: top;
  font-size: 1.333rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  transition: color .2s linear;
  padding: 15px 20px;
  font-size: 20px;
  border: 2px solid #212121;
  font-weight: 600;
  background: transparent;
  transition: all .2s linear;
  color: #212121;
  text-transform: initial;
  transition: all .2s linear; }
  .btn-price:hover {
    color: #fff;
    background: #00897b;
    border-color: #00897b;
    text-transform: uppercase; }

.header {
  background: #fff;
  padding: 25px 0; }
  .header-menu-list__item + .header-menu-list__item {
    margin-left: 35px; }
  .header-menu-list__link {
    font-size: 1.333rem;
    color: #212121;
    font-weight: 600;
    transition: color .2s linear; }
    .header-menu-list__link:hover {
      text-decoration: none; }

.intro {
  background: #000 url("../../images/intro/intro-bg.png") no-repeat center center;
  background-size: cover;
  padding: 9rem 0 4.666rem; }
  .intro-inner {
    text-align: center; }
    .intro-inner__title {
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      margin-bottom: 1.666rem; }
    .intro-inner__text {
      font-size: 1.46rem;
      color: #fff;
      margin-bottom: 6rem; }
    .intro-inner__arrow {
      margin-top: 6rem; }
      .intro-inner__arrow a {
        font-size: 25px;
        color: #fff; }

.section-header {
  text-align: center; }
  .section-header__title {
    font-size: 2rem;
    color: #212121;
    font-weight: 700;
    margin-bottom: 1.5rem; }
    .section-header__title--contacts {
      color: #fff; }
  .section-header__text {
    font-size: 1rem;
    color: #212121;
    line-height: 1.467;
    margin-bottom: 6rem; }
    .section-header__text--contacts {
      color: #fff; }

.about-inner {
  text-align: center; }
  .about-inner__iccon {
    margin-bottom: 1.5rem; }
  .about-inner__title {
    font-size: 1.333rem;
    color: #212121;
    font-weight: 600;
    margin-bottom: 1rem; }
  .about-inner__description {
    font-size: 1rem;
    color: #212121;
    line-height: 1.467; }

.services {
  background: #e4fdf9; }
  .services-item {
    text-align: center;
    padding: 55px 37px 45px;
    background: #fff;
    margin-bottom: 25px; }
    .services-item:hover {
      background: #00897b;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35); }
      .services-item:hover .services-item__iccon i {
        color: #fff; }
      .services-item:hover .services-item__title {
        color: #fff; }
      .services-item:hover .services-item__description {
        color: #fff; }
      .services-item:hover .services-item__button a {
        color: #fff;
        border-color: #fff; }
    .services-item__iccon {
      margin-bottom: 2rem;
      transition: all 1s linear; }
      .services-item__iccon i {
        font-size: 45px;
        transition: all 1s linear; }
    .services-item__title {
      margin-bottom: 1rem;
      font-size: 1.333rem;
      color: #212121;
      font-weight: 600;
      transition: all 1s linear; }
    .services-item__description {
      font-size: 1rem;
      margin-bottom: 2.5rem;
      line-height: 1.667;
      color: #212121;
      transition: all 1s linear; }

.works__nav {
  margin-bottom: 7rem; }

.works-nav__button {
  font-size: 20px;
  color: #212121;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 25px;
  background: transparent;
  border: 2px solid #00897b;
  transition: all .2s linear; }
  .works-nav__button + .works-nav__button {
    margin-left: 18px; }
  .works-nav__button:hover {
    color: #ffffff;
    background: #00897b; }
  .works-nav__button:focus {
    outline: none; }

.works-item {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer; }
  .works-item:hover .works-item__content {
    opacity: 1; }
  .works-item__content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0; }
  .works-item a img {
    max-width: 100%;
    height: auto;
    display: block; }
  .works-item__title {
    font-size: 20px;
    color: #fff;
    font-weight: 600; }
  .works-item__prof {
    font-size: 15px;
    color: #fff;
    font-weight: 600; }

.works-footer {
  text-align: center;
  margin-top: 7rem; }

.price {
  background: #f0f1f1; }
  .price-item {
    background: #fff;
    text-align: center;
    padding: 45px 85px;
    position: relative;
    overflow: hidden;
    background: #fff url("../../images/price/price-header.png") no-repeat center top; }
    .price-item:hover {
      box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.35); }
    .price-item__header {
      position: relative;
      z-index: 5; }
    .price-item__title {
      font-size: 25px;
      color: #fff;
      margin-bottom: 15px; }
    .price-item__costs {
      font-size: 17px;
      color: #fff; }
    .price-item__dollars {
      font-size: 25px; }
    .price-item__number {
      font-size: 50px; }
    .price-item__content {
      margin: 75px 0 45px; }
    .price-item-list__item {
      font-size: 17px;
      color: #212121;
      font-weight: 300; }
      .price-item-list__item + .price-item-list__item {
        margin-top: 35px; }
      .price-item-list__item:after {
        content: " ";
        display: block;
        width: 170px;
        height: 1px;
        background: #bfbfbf;
        margin-top: 12px; }
    .price-item__footer a {
      text-decoration: none; }

.team-item {
  text-align: center; }
  .team-item__img img {
    max-width: 100%;
    height: auto;
    display: block; }
  .team-item__name {
    font-size: 20px;
    color: #212121;
    font-weight: 600;
    margin: 30px 0 5px; }
  .team-item__prof {
    font-size: 15px;
    color: #212121;
    margin-bottom: 25px; }
  .team-item-social__item {
    width: 50px;
    height: 50px;
    background: #f0f1f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background .2s linear; }
    .team-item-social__item + .team-item-social__item {
      margin-left: 20px; }
    .team-item-social__item:hover {
      background: #3949ab; }
  .team-item-social__link {
    width: 20px;
    height: 20px;
    fill: #00897b;
    transition: fill .2s linear; }
    .team-item-social__link:hover {
      filL: #fff; }

.blog {
  background: #e4fdf9; }
  .blog-img img {
    max-width: 100%;
    height: auto;
    display: block; }
  .blog-content__title {
    display: block;
    margin-top: 45px;
    font-size: 25px;
    color: #212121;
    font-weight: 600;
    margin-bottom: 15px;
    transition: all .2s linear; }
    .blog-content__title:hover {
      color: #00897b; }
  .blog-content__item {
    margin-bottom: 25px; }
    .blog-content__item + .blog-content__item {
      margin-left: 25px; }
  .blog-content__iccon {
    display: block;
    margin-right: 10px; }
  .blog-content__date {
    font-size: 17px;
    color: #212121;
    font-weight: 600; }
  .blog-content__suptitle {
    font-size: 17px;
    color: #212121;
    font-weight: 600;
    display: block; }
  .blog-content__text {
    font-size: 15px;
    color: #212121;
    line-height: 1.467; }
  .blog__footer {
    margin-top: 7rem;
    text-align: center; }

.contacts {
  background: #000 url("../../images/contacts/bg.png") no-repeat center center;
  background-size: cover; }
  .contacts-item {
    text-align: center; }
    .contacts-item__iccon {
      display: block;
      margin-bottom: 25px; }
    .contacts-item__line {
      font-size: 20px;
      color: #fff;
      font-weight: 600; }
    .contacts-item__phone {
      display: block; }
  .contacts-form {
    margin-top: 75px; }
    .contacts-form__input {
      margin-bottom: 30px; }
      .contacts-form__input .input {
        border: 0;
        font-weight: 600;
        border-radius: 10px;
        height: 80px;
        width: 100%;
        color: #707070;
        font-size: 20px;
        padding-left: 17px; }
        .contacts-form__input .input::placeholder {
          color: #707070; }
    .contacts-form__line .textarea {
      border: 0;
      font-weight: 600;
      border-radius: 10px;
      height: 320px;
      width: 100%;
      color: #707070;
      font-size: 20px;
      padding-left: 17px;
      padding-top: 40px; }
    .contacts-form__button {
      text-align: right;
      margin-top: 25px; }
      .contacts-form__button .btn {
        padding: 20px 70px;
        border: 0;
        text-align: center;
        font-weight: 700;
        color: #212121;
        text-transform: uppercase;
        background: #fff;
        font-weight: 600;
        border-radius: 10px;
        font-size: 20px; }
        .contacts-form__button .btn:focus {
          outline: none !important; }

.footer {
  background: #fff;
  padding: 17px 0; }
  .footer__copyright {
    text-align: center;
    font-size: 20px;
    color: #212121;
    font-weight: 700; }
