$main-color:#212121;
$contact-color:#ffffff;

// Responsive

$screen-sm:576px;
$screen-md:768px;  
$screen-xl:1200px;


$screen-xs-max:575px;
$screen-sm-max:767px;
$screen-md-max:991px;  
$screen-lg-max:1199px;