.contacts{
    background: #000 url("../../images/contacts/bg.png") no-repeat center center;
    background-size: cover;
    &-item{
        text-align: center;
        &__iccon{
            display: block;
            margin-bottom: 25px;
            img{
                max-width: 100%;
            }
        }
        &__line{
            font-size: 20px;
            color:#fff;
            font-weight: 600;
        }
        &__phone{
            display: block;
        }
    }
    &-form{
        margin-top: 75px;
        &__input{
            margin-bottom: 30px;
            .input{
                border: 0;
                font-weight: 600;
                border-radius: 10px;
                height: 80px;
                width: 100%;
                color:#707070;
                font-size: 20px;
                padding-left: 17px;
                &::placeholder{
                    color:#707070;
                }
            }
        }
        &__line{
            .textarea{
                border: 0;
                font-weight: 600;
                border-radius: 10px;
                height: 320px;
                width: 100%;
                color:#707070;
                font-size: 20px;
                padding-left: 17px;
                padding-top: 40px;
            }
        }
        &__button{
            text-align: right;
            margin-top: 25px;
            .btn{
                padding: 20px 70px;
                border: 0;
                text-align: center;
                font-weight: 700;
                color:$main-color;
                text-transform: uppercase;
                background: #fff;
                font-weight: 600;
                border-radius: 10px;
                font-size: 20px;

                &:focus{
                    outline: none !important;
                }
            }
        }
    }

    @media (max-width:$screen-md-max){
        &-item{
            &__line{
                font-size: 14px;
            }
        }
    }

    @media (max-width:$screen-sm-max){
        &-item{
            margin-bottom: 35px;
            &__iccon{
                margin-bottom: 15px;
            }
        }
        &-form{
            margin-top: 20px;
            &__input{
                .input{
                    font-size: 15px;
                }
            }
            &__line{
                .textarea{
                    font-size: 15px;
                }
            }
            &__button{
                .btn{
                    font-size: 15px;
                }
            }
        }
    }

    @media (max-width:$screen-xs-max){
        &-form{
            &__input{
                .input{
                    height: 50px;
                }
            }
            &__line{
                .textarea{
                    height: 200px;
                }
            }
            &__button{
                .btn{
                    width: 100%;
                }
            }
        }
    }
}