.intro{
    background: #000 url("../../images/intro/intro-bg.png") no-repeat center center;
    background-size: cover;
    padding: 7rem 0 4.666rem;
    &-inner{
        text-align: center;
        &__title{
            font-size: 4rem;
            color:#fff;
            font-weight: 600;
            margin-bottom: 1.666rem;
        }
        &__text{
            font-size: 1.46rem;
            color:#fff;
            margin-bottom: 6rem;
        }
        &__arrow{
            margin-top: 5rem;
            a{
                font-size: 25px;
                color:#fff;
            }
        }
        
        &__triangle{
            position: relative;
            animation: arrow 2s infinite linear;
        }
        @keyframes arrow {
            0%{top:0}
            50%{top:20px}
            100%{top:0}
        }
    }

    @media (max-width:$screen-sm-max){
        &-inner{
            &__text{
                margin-bottom: 3rem;
            }
            &__button{
                margin-bottom: 15px;
            }
        }
    }
}