.section-header{
    text-align: center;
    &__title{
        font-size: 2rem;
        color:$main-color;
        font-weight: 700;
        margin-bottom: 1.5rem;
        &--contacts{
            color:#fff;
        }
    }
    &__text{
        font-size: 1rem;
        color:$main-color;
        line-height: 1.467;
        margin-bottom: 6rem;
        &--contacts{
            color:#fff;
        }
    }

    @media (max-width:$screen-md-max){
        &__text{
            margin-bottom: 4rem;
        }
    }

    @media (max-width:$screen-sm-max){
        &__text{
            margin-bottom: 3rem;
        }
    }
}
