.works{
    &__nav{
        margin-bottom: 7rem;
    }
    &-nav{
        &__button{
             & + &{
                 margin-left: 18px;
             }
             font-size: 20px;
             color:$main-color;
             border-radius: 0;
             font-weight: 600;
             text-transform: uppercase;
             text-align: center;
             padding: 15px 25px;
             background: transparent;
             border: 2px solid #00897b;
             transition: all .2s linear;

             &:hover{
                color:#ffffff;
                background: #00897b;
             }
             &:focus{
                 outline: none;
             }
        }
    }
    &-item{
        position: relative;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover{
            .works-item__content{
                opacity: 1;
            }
        }
        &__content{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.35);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:0;
            left:0;
            z-index: 5;
            opacity: 0;
        }
        a{
            img{
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
        &__title{
            font-size: 20px;
            color:#fff;
            font-weight: 600;
        }
        &__prof{
            font-size: 15px;
            color:#fff;
            font-weight: 600;
        }
    }
    &-footer{
        text-align: center;
        margin-top: 7rem;
    }

    @media (max-width:$screen-lg-max){
        &-nav{
            flex-wrap: wrap;
            &__button{
                margin-bottom: 15px;
            }
        }
    }

    @media (max-width:$screen-md-max){
        &-nav{
            margin-bottom: 4rem;
        }
    }

    @media (max-width:$screen-sm-max){
        &-nav{
            margin-bottom: 4rem;
            &__button{
                font-size: 10px;
            }
        }
        &-footer{
            margin-top: 3rem;
        }
    }

    @media (max-width:$screen-xs-max){
        &-nav{
            flex-direction: column;
            &__button{
                margin-left: 0 !important;
            }
        }
    }

    @media (max-width:$screen-xs-max){
        &-item{
            max-width: 300px;
            margin: 0 auto 25px;
        }
    }
}